---
---

@import "{{ site.theme }}";

.post {
  margin: 20px;
  padding: 20px;
  background-image: linear-gradient(#4f4971, #4c447b);
  border-radius: 6px;
}

body, html {
  height: 100%;
}

body {
  background-image: linear-gradient(#2e3133, #040404);
  color: white;
}

a {
  color: #d7e9fb;
} 
